<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/4c5ade12-405e-40d4-830a-6d69ef62d568/resourcegroups/pw/providers/Microsoft.Web/sites/my-app-backend20231002170446</ResourceId>
    <ResourceGroup>pw</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://my-app-backend20231002170446.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>1913017b-6a65-4fe3-a575-e61f2db35715</ProjectGuid>
    <PublishUrl>https://my-app-backend20231002170446.scm.azurewebsites.net/</PublishUrl>
    <UserName>$my-app-backend20231002170446</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>